[submodule "hugo-site/themes/devise"]
	path = hugo-site/themes/devise
	url = https://github.com/austingebauer/devise.git
[submodule "preditor"]
	path = preditor
	url = git@github.com:MohsenDehghankar/preditor.git
